@use '../../Components/styles/variables.scss' as *;

.about-me {
  &__section {
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }

  &__image {
    width: 100px;
    height: 100px;
    border: 0.5px solid #333;
    margin-bottom: 1rem;
    object-fit: cover;
  }

  &__text {
    font-size: 0.875rem;
    @include tablet {
      font-size: 1rem;
    }
    @include desktop {
      font-size: 1.125rem;
    }
  }
}
